@use '../variables' as *;

// hero

.carousel {
    height: 75vh;
    position: relative;

    @media screen and (max-width: 1300px) {
        height: 85vh;
    }

    @media screen and (max-width: 767px) {
        height: 90vh;
    }
}


.c-item {
    height: 75vh;

    @media screen and (max-width: 1300px) {
        height: 85vh;
    }

    @media screen and (max-width: 767px) {
        height: 90vh;
    }
  }
  
  .c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
  }




// about
.about {
    background-color: $hover-color;
    color: $background-color !important;


    .card-logo {
        background-color: $background-color;
        padding: 1rem;
        border-radius: 2rem;
        border: solid .6rem $optional-color;

        @media screen and (max-width: 767px) {
            margin-top: 20px;
        }
        
        
    }

    i {
        color: $background-color;
        font-size: $lg;
    }

}
.client {
    .counter-box {
        display: block;
        background: $main-color;
        padding: 40px 20px 37px;
        text-align: center;
        color: $background-color;

        p {
            margin: 5px 0 0;
            padding: 0;
            font-size: 18px;
            font-weight: 500;
        }

        i {
            font-size: 60px;
            margin: 0 0 15px;
        }

        .counter {
            display: block;
            font-size: 32px;
            font-weight: 700;
            line-height: 28px;
        }
    }
}
